<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="retryCount" value="5"/>
    </appSettings>
        
    <connectionStrings>
        <add key="sqlConnectionString" value="Server=localhost;Database=ElevatorAction;Trusted_Connection=True;"/>
    </connectionStrings>
</configuration>